Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: [modernize-use-trailing-return-type, modernize-use-nodiscard]

  # UnusedIncludes: Strict


Completion:
  AllScopes: No

# InlayHints:
#   Enabled: Yes
#   ParameterNames: No
#   DeducedTypes: Yes

# Hover:
#   ShowAKA: Yes
