Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Remove: modernize-use-trailing-return-type
    Add: modernize*
  # UnusedIncludes: Strict


Completion:
  AllScopes: Yes

# InlayHints:
#   Enabled: Yes
#   ParameterNames: No
#   DeducedTypes: Yes

# Hover:
#   ShowAKA: Yes