CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
_install
.DS_Store
.cache
imgui.ini
.vs
out
.idea
cmake-build-*

*.spv

logs

**/.xmake
**/build
.xmake
.luarc.json
.vscode
